* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

.form-wrap {
  margin: 0 auto;
  text-align: center;
  width: auto;

  h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }
}

.btn {
  border-radius: 0 5px 0 5px;
  padding: 0.5rem;
  font-size: 0.7rem;
  border: none;
  outline: none;
  background: rgb(49, 49, 218);
  margin: 0.7rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.lib-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.book-card {
  margin: 1rem;
  width: 20%;
  border: 1px solid black;
  border-radius: 0 20px 0 20px;
}

.card-title {
  font-size: 2rem;
  padding: 2rem;
  width: auto;
}

.card-author {
  font-size: 1rem;
  padding: 0.5rem;
}

.card-content {
  font-size: 0.6rem;
  margin: 0.5rem;
}
